.btn {
  z-index: 1;
  background-color: var(--blue);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

.btnEffect {
  background: none;
  z-index: 1;
  color: var(--blue);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

.btnEffect:hover {
  background-color: var(--blue);
  color: var(--white);
}

.btnEffect path {
  stroke: var(--blue);
}

.btnEffect:hover path {
  stroke: var(--white);
}
