.settings__number_range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.settings__number_range input {
  height: 2.5rem;
  width: 4rem;
  border: 1px solid var(--border-gray);
  border-radius: 0.25rem;
  padding: 0.125rem 0.75rem;
  background-color: var(--white);
  color: var(--text);
  font-size: 0.875rem;
  font-weight: 500;
  appearance: textfield;
  -webkit-appearance: textfield; /* Removes default styling */
  -moz-appearance: textfield; /* Removes default styling */
}

/* Style the arrows always visible with custom appearance */
.settings__number_range input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Removes default styling */
  background: transparent; /* Transparent background */
  border: none; /* No borders */
  cursor: pointer;
  opacity: 1; /* Make the buttons always visible */
  position: relative; /* Needed for positioning the custom arrows */
}

.controls {
  display: flex;
  align-items: center;
  position: relative;
}

.arrow {
  position: absolute;
  padding: 0.25rem;
  margin: 0 0.5rem;
  font-size: 1rem;
  right: -0.25rem;
  background-color: var(--light-gray);
  color: var(--text);
  border: none;
  cursor: pointer;
  user-select: none;
}

.arrow:first-of-type {
  top: -0.25rem;
}
.arrow:last-of-type {
  bottom: -0.25rem;
}
