.attribute__weight {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.input {
  background: none;
  border: none;
  outline: none;
  color: var(--blue-p);
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  width: 50%;
}

.input::placeholder {
  font-weight: 300;
  color: var(--blue-p);
}
