.preview__slider {
  display: flex;
  gap: 2rem;
}

.preview__slider__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.preview__slider__list li {
  height: 2rem;
  display: flex;
  align-items: center;
}
