.sidebar {
  width: 20rem;
  height: calc(100vh);
  background-color: var(--whiteClr);
  padding: 1rem 2rem;
  position: fixed;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top button {
  background: none;
  color: var(--headerClr);
  border: none;
  /* border: 3px solid var(--lineClr); */
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  line-height: 0.75rem;
}

.top button:hover {
  background-color: var(--lineClr);
  color: var(--whiteClr);
}
