/* .documents_table {
} */

.table {
  margin-left: 17.5rem;
  padding: 1.5rem 0rem;
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  width: calc(100vw - 17.5rem);
  align-items: center;
}

.tableContainer {
  max-width: 48rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tableContainer * {
  border-color: var(--border-gray);
}

.tableContainer tbody tr {
  cursor: pointer;
}

.top {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--border-gray);
}

.top button {
  margin-left: auto;
}

.docName {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.table_docName {
  color: var(--dark-blue-p);
  font-weight: 500;
}
.table_docValue {
  color: var(--dark-blue-p);
}

.file {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.docActions {
  display: flex;
  gap: 1rem;
  align-items: center;
}
