.survey {
  margin-left: 17.5rem;
  padding: 1.5rem 0rem;
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  width: calc(100vw - 17.5rem);
  align-items: center;
}

.surveyContainer {
  max-width: 48rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.loaderOverlay {
  position: fixed; /* or 'absolute' if the parent container is relative */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 1000;  */
  backdrop-filter: blur(2px); /* Creates the blur effect */
}

.loadingText {
  font-size: 2rem;
  color: #333;
}

.top {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--border-gray);
}

.docName {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.top input {
  font-size: 1.25rem;
  color: var(--dark-blue-p);
  background: none;
  font-weight: bold;
  border: 1px solid var(--border-gray);
  border-radius: 0.25rem;
  outline: none;
  width: max-content;
}

.line {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--blue);
  top: 50%;
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.btn {
  z-index: 1;
  background-color: var(--blue);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-weight: bold;
}

.attributes {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.attribute {
  background-color: var(--white);
  display: flex;
  font-weight: 600;
  height: fit-content;
  transition: height 0.1s ease-in-out;
  position: relative;
  border: 1px solid var(--border-gray);
  z-index: 1;
}

.dragHandle {
  position: absolute;
  left: -1.25rem;
  padding: 0.75rem 1rem 1rem 0;
  font-size: 1.25rem;
  visibility: hidden;
}

.lockHandle {
  position: absolute;
  right: -2rem;
  padding: 0.5rem;
  font-size: 1.25rem;

}

.lockHandle:hover {
  cursor: pointer;
}

.attribute:hover .lockHandle {
  visibility: visible;
}

.visible {
  visibility: visible;
}

/* .attribute:hover .dragAttribute {
  visibility: visible;
} */

/* .attribute:hover .deleteHandle {
  visibility: visible;
} */

.attribute_left {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: calc((100% - 4rem) / 2);
  padding: 1.5rem;
  height: fit-content;
  position: relative;
}

.pointer {
  cursor: pointer;
}

.attribute_right {
  position: relative;
  display: flex;
  align-items: center;
  border-left: 1px solid var(--border-gray);
  height: fit-content;
  transition: height 0.1s ease-in-out;
  overflow: hidden;
  width: calc((100% - 4rem) / 2);
}

.attribute_left svg:hover {
  cursor: pointer;
}

.levels_info {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

.levels_info:hover {
  cursor: pointer;
}

.attribute_right p {
  color: var(--blue);
  font-weight: 300;
}

.levels {
  display: flex;
  flex-direction: column;
  /* gap: 1.5rem; */
  width: 100%;
  padding: 1rem 0;
}

.levels li {
  font-weight: 00;
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
}

.levels li:last-child {
  padding-bottom: 0;
  padding-left: 1rem;
  padding-top: 0;
}

.levels li:first-child div:last-child {
  padding-top: 0;
}

.handles {
  border-radius: 0.5rem;
  position: absolute;
  bottom: -1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  /* visibility: hidden; */
}

.deleteAttribute {
  background: none;
  outline: none;
  border: none;
  color: var(--blue);
  font-size: 1.25rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.input {
  background: none;
  border: none;
  outline: none;
  color: var(--blue-p);

  font-size: 1rem;
  width: 100%;
}

.inputField {
  color: var(--dark-blue-p);
  font-weight: 500;
}

.input::placeholder {
  font-weight: 300;
  color: var(--blue-p);
}

.stroke {
  border: 1px solid var(--blue);
}

.stroke_left {
  border: 1px solid var(--blue);
  border-right: none;
}

.stroke_right {
  border: 1px solid var(--blue);
  border-left: none;
}

.attribute_weights {
  width: 5rem;
  border-left: 1px solid var(--border-gray);
  padding: 1rem;
  transition: none;
}

.weights {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: none;
  /* visibility: hidden; */
}

.notvisible {
  visibility: hidden;
  background-color: var(--border-gray);
  transition: none;
}

.weights li {
  font-weight: 300;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: none;
}

.addLevel {
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--blue);
}

.addLevel:hover {
  font-weight: bold;
  cursor: pointer;
  background-color: var(--blue);
  color: white;
}
