/* CustomDropdown.module.css */
.dropdown {
  position: relative;
  font-family: Arial, sans-serif;
}

.dropdownButton {
  /* width: 10rem; */
  padding: 10px;
  border: 1px solid var(--dark-blue-h);
  background-color: var(--light-blue);
  color: var(--blue-p);
  cursor: pointer;
  border-radius: 0.25rem;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.dropdownContent {
  position: absolute;
  width: 10rem;
  /* for now 10 rem, next we will have to do something else */
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.color {
  color: var(--dark-blue-h);
}

.dropdownContent li {
  padding: 12px;
  text-align: left;
  background-color: var(--white);
  cursor: pointer;
}

.dropdownContent li:hover {
  background-color: var(--gray);
}

.dropdownContent li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

/* When the dropdown is active/open */
.dropdownContent.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
