/* CarSelection.module.css */
.section {
  margin-left: 20rem;
  margin-top: 4rem;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.top {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.cardContainer {
  display: flex;
  justify-content: flex-start;

  /* margin-left: 20rem; */
  /* margin-top: 4rem; */
  /* padding: 1rem 3rem; */
  gap: 2rem;
}

.attributes {
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  /* align-items: flex-end; */
}

.attributes li {
  font-weight: bold;
}

.card,
.cardSelected {
  background-color: var(--whiteClr);
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 200px; /* Adjust width as necessary */
  margin: 1rem 0;
}

.cardSelected {
  border-color: var(
    --lineClr
  ); /* Or use a class to change the background color */
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.buttonContainer {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.selectButton {
  background-color: var(--headerClr);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Additional styling as needed */
