/* CarSelection.module.css */
.section {
  margin-left: 17.5rem;
  padding: 1.5rem 0rem;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 17.5rem);
  /* gap: 2rem; */
  align-items: center;
}

.sectionContainer {
  max-width: 48rem;

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.top {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--border-gray);
  font-size: 1.25rem;
  justify-content: space-between;
}

.top .buttons {
  display: flex;
  gap: 1rem;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  min-width: 48rem;
  overflow-x: auto;
  align-items: flex-start;
}

.attributes {
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-content: flex-end;
  width: 10rem;
}

.attributes li {
  font-weight: 600;
}

.cardsContainer {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  width: 37rem;
  scrollbar-width: thin;
  scrollbar-color: var(--border-gray) transparent;
}

/* For Webkit browsers like Chrome, Safari */
.cardsContainer::-webkit-scrollbar {
  height: 4px; /* width of the entire scrollbar */
}

.cardsContainer::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.cardsContainer::-webkit-scrollbar-thumb {
  background-color: var(--border-gray); /* color of the scroll thumb */
  border-radius: 2px; /* roundness of the scroll thumb */
}

.card,
.cardSelected {
  background-color: var(--white);
  /* border: 1px solid #ccc; */
  padding: 1rem;
  border-radius: 0.5rem;
  width: calc(18.5rem);
  min-width: 18.5rem;
  margin: 1rem 0;
  border: 1px solid var(--border-gray);
}

/* .cardSelected {
  border-color: var(
    --lineClr
  ); 
} */

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
}

.buttonContainer {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.selectButton {
  background-color: var(--white);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile_name {
  color: var(--dark-blue-p);
  font-weight: bold;
}

/* Additional styling as needed */

.instructions {
  color: var(--dark-blue-p);
  font-weight: 600;
}
