@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --gray: #f1f2f5;
  --white: #ffffff;
  --blue: #0095ff;
  --dark-blue-h: #103758;
  --blue-p: #778c9f;
  --active-blue: #d9efff;
  --border-gray: #e8e9ef;
  --line-gray: #c3ccd5;
  --dark-blue-p: #4e6b83;
  --red: #cd3737;
  --light-blue: #f6f9fb;
  --button: #4281db;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  /* transition: all 0.5s ease-in-out; */
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  color: var(--blue-p);
}

html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--gray);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h2 {
  font-size: 1.25rem;
  color: var(--dark-blue-h);
  font-weight: 600;
}

ul {
  list-style: none;
}

button:hover {
  cursor: pointer;
}
