.survey {
  margin-left: 20rem;
  margin-top: 4rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.top {
  display: flex;
  gap: 2rem;
}

.line {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--lineClr);
  top: 50%;
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.btn {
  z-index: 1;
  background-color: var(--headerClr);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-weight: bold;
}

.attributes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.attribute {
  background-color: var(--whiteClr);
  display: flex;
  font-weight: bold;
  height: fit-content;
  transition: height 1s ease-in-out;
}

.attribute_left {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: calc((100% - 4rem) / 2);
  padding: 1rem 1.5rem;
  height: fit-content;
}

.attribute_right {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  border-left: 1px solid var(--bgClr);
  height: fit-content;
  transition: height 1s ease-in-out;
  overflow: hidden;
  width: calc((100% - 4rem) / 2)
}

.attribute_right p {
  color: var(--addClr);
  font-weight: 300;
}

.levels {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.levels li {
  /* padding: 0.5rem; */
  font-weight: 300;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.circle {
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 1px solid black;
}

.levels li:last-child .circle {
  border-color: var(--addClr);
}

.input {
  background: none;
  border: none;
  outline: none;
  color: var(--addClr);
  font-weight: 400;
  font-size: 1rem;
}

.stroke {
  border: 1px solid var(--lineClr);
}

.stroke_left {
  border: 1px solid var(--lineClr);
  border-right: none;
}

.stroke_right {
  border: 1px solid var(--lineClr);
  border-left: none;
}

.attribute_weights {
  width: 4rem;
  border-left: 1px solid var(--bgClr);
  padding: 1rem;
  transition: none;
}

.weights {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: none
  /* visibility: hidden; */
}

.notvisible {
  visibility: hidden;
  background-color: var(--bgClr);
  transition: none;
}

.weights li {
  font-weight: 300;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: none
}
