.sidebar {
  width: 17.5rem;
  height: calc(100vh);
  background-color: var(--white);
  padding: 1rem;
  position: fixed;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.top h3 {
  color: var(--dark-blue-h);
  font-weight: 500;
  font-size: 1.25rem;
}

.top:hover {
  background-color: var(--light-blue);
  cursor: pointer;
}

.line {
  height: 2px;
  display: block;
  width: 2rem;
  min-height: 2px;
  min-width: 2rem;
  margin: 0.5rem;

  background-color: var(--line-gray);
}
