.sidebar {
  width: 17.5rem;
  height: calc(100vh);
  background-color: var(--white);
  padding: 1rem;
  padding-right: 0;
  position: fixed;
  z-index: 3;
}

.sidebar * {
  user-select: none;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  margin-right: 1rem;
}

.top h3 {
  color: var(--dark-blue-h);
  font-weight: 500;
  font-size: 1.25rem;
  width: 100%;
  cursor: pointer;
}

/* .top:hover {
  background-color: var(--light-blue);
} */

.addDoc {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.addDoc:hover {
  cursor: pointer;
  background-color: var(--light-blue);
}

.line {
  height: 2px;
  display: block;
  width: 2rem;
  min-height: 2px;
  min-width: 2rem;
  margin: 0.5rem;

  background-color: var(--line-gray);
}
