name: Docker Deploy

on:
  push:
    branches:
      - main
      - as13966/ssh

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Check out the repo
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: SSH and Deploy Docker Containers Using Password
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: 4410
        script: |
          cd projointdesigntool/
          echo ${{ secrets.PASSWORD }} | sudo -S docker compose down
          echo ${{ secrets.PASSWORD }} | sudo -S docker compose up -d
